.nav
{
    display: flex;
    align-items: center;
        flex-wrap: wrap;
        list-style: none;
       // justify-content: flex-end;
margin:0;
padding: 0;
&--categories
{
display: flex;
justify-content: center;
align-items: center;
}
&--centerd
{
    justify-content: center;
    border : 1px solid $line;
   // max-width: 40rem;


}

}